<!DOCTYPE html>
<html lang="en">



<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GAMS</title>
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="Molla - Bootstrap eCommerce Template">
  <meta name="author" content="p-themes">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/uploads/logo-resized.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/uploads/logo-resized.png">
  <link rel="manifest" href="/assets/images/icons/site.html">
  <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
  <link rel="shortcut icon" href="/uploads/logo-resized.png">
  <meta name="apple-mobile-web-app-title" content="Molla">
  <meta name="application-name" content="Molla">
  <meta name="msapplication-TileColor" content="#cc9966">
  <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
  
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/skins/skin-demo-5.css">
  <link rel="stylesheet" href="/assets/css/demos/demo-5.css">
  <link rel="stylesheet" href="/assets/css/toastify.css">
  <link rel="stylesheet" href="/assets/css/home.css">
  
</head>

<body>
  <div class="page-wrapper">
    <header class="header header-5">
      <div class="header-middle sticky-header">
        <div class="container-fluid">
          <div class="header-left">
            <button class="mobile-menu-toggler">
              <span class="sr-only">Toggle mobile menu</span>
              <i class="icon-bars"></i>
            </button>

            <a href="index.html" class="logo">
              <img src="/uploads/logo-resized.png" alt="Molla Logo" width="105" height="25">
            </a>

            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <li class="megamenu-container active">
                  <a href="/" class="sf-with-ul">Home</a>


                </li>
                <li>
                  <a href="/shop" class="sf-with-ul">Shop</a>


                </li>
                <li>
                  <a href="" class="sf-with-ul">About Us</a>

                </li>

              </ul>
            </nav>
          </div>

          <div class="header-right">
            

            


            <div style="display: flex;">
              <% if(!user){%>
                <div class="nav-login">
                  <a href="/login">Login</a>
                </div>
              <%}else{%>
                <a style="color: rgb(235, 118, 97); margin-left: 12px;" href="/profile">Account</a>
                <a style="color: rgb(235, 118, 97); margin-left: 12px;" href="/cart">MyCart</a>
                <a style="color: rgb(235, 118, 97); margin-left: 12px;" href="/wishlist">Wishlist</a>
                <a style="color: rgb(235, 118, 97); margin-left: 12px;" href="/myOrders">Orders</a>
                <a style="margin-left: 12px;" href="/logout">Logout</a>
              <%} %>
            </div>


          </div>
        </div>
      </div>
    </header>