<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Password</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      text-align: center;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      min-height: 300px;
    }

    label {
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-top: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    .error {
      color: red;
      margin-bottom: 8px;
      display: block;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    span {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>

  <div class="container">
    <h2>Set your new password</h2>
    <form action="/newPassword" method="post" onsubmit="return validateForm()">
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password">
      <br>


      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword">
      <br>
      <span type="error" id="error" style="color: red;"></span>
      <br>
      <button type="submit">Verify</button>
    </form>
    <div class="card-2" style="padding-top: 2%;">
      <div class="content d-flex justify-content-center align-items-center "></span>
        <a href="/login" class="text-decoration-none ms-3">Back to Login</a>
      </div>
    </div>

  </div>

  <script>
    function validateForm() {
      document.getElementById("error").textContent = ""


      const password = document.getElementById("password").value.trim()
      const confirmPassword = document.getElementById("confirmPassword").value.trim()

      if (password === "") {
        document.getElementById("error").textContent = "Password cannot be empty"
        return false
      }

      if (!/^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/.test(password)) {
        document.getElementById("error").textContent = "Password must contains letters, number, characters";
        return false;
      }

      if (password.length < 6) {
        document.getElementById("error").textContent = "Password must be at least 6 characters";
        return false;
      }

      if (confirmPassword === "") {
        document.getElementById("error").textContent = "Confirm Password cannot be empty";
        return false
      }

      if (password !== confirmPassword) {
        document.getElementById("error").textContent = "Password and Confirm Password do not match";
        return false;
      }

      return true;
    }
  </script>

</body>

</html>