<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/otp.css">
  <link rel="stylesheet" href="/assets/css/toastify.css">
</head>

<body>
  <div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
      <div class="card p-2 text-center">
        <h6>Please enter the one time password <br>that has been send to your email </h6>
        
        <form action="/signupOtp" method="post">
          <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input
              class="m-2 text-center form-control rounded" name="digit1" type="text" id="first" maxlength="1" /> <input
              class="m-2 text-center form-control rounded" name="digit2" type="text" id="second" maxlength="1" /> <input
              class="m-2 text-center form-control rounded" name="digit3" type="text" id="third" maxlength="1" /> <input
              class="m-2 text-center form-control rounded" name="digit4" type="text" id="fourth" maxlength="1" /> <input
              class="m-2 text-center form-control rounded" name="digit5" type="text" id="fifth" maxlength="1" /> <input
              class="m-2 text-center form-control rounded" name="digit6" type="text" id="sixth" maxlength="1" /> </div>
             
              <div id="timer">Time Remaining: </div>

              
          <div class="mt-4"> <button type="submit" class="btn btn-danger px-4 validate">Verify</button> </div>
        </form>
      </div>

      <div>
        <p class="text-danger text-center mt-2 mb-0">
          <%=locals.error?locals.error: "" %>
        </p>
      </div>
      <div class="card-2">
        <div class="content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span> <a
            href="/resendSignupOtp" class="text-decoration-none ms-3">Resend</a> </div>
      </div>
    </div>
  </div>
</body>

<script>
  let countDownDate = new Date("<%= expireTime %>").getTime();
  let now = new Date().getTime();
  let distance = countDownDate - now;
   
  let timer = setInterval(function() {
     let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
     let seconds = Math.floor((distance % (1000 * 60)) / 1000);
     
     document.getElementById("timer").innerHTML = "Time Remaining: " + minutes + "m " + seconds + "s ";
     
     if (distance < 0) {
       clearInterval(timer);
       document.getElementById("timer").innerHTML = "EXPIRED <br/> Click on resend to get OTP again.";
       document.querySelector(".validate").style.display = "none"; 
     }
     
     distance -= 1000;
  }, 1000);
 </script>
 
 <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <script>

    const errorMsg = '<%= errorMsg.join("<br>") %>';


    if (errorMsg) {
      Toastify({
        text: errorMsg,
        duration: 3000,
        gravity: "top",
        position: "center",
        className: 'toastify-error',
        backgroundColor: 'red',
      }).showToast();
    }


  </script>


</html>