<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    GAMS - Admin
  </title>
  
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/uploads/logo-resized.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/uploads/logo-resized.png">
  <link rel="manifest" href="/assets/images/icons/site.html">
  <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
  <link rel="shortcut icon" href="/uploads/logo-resized.png">
  <meta name="apple-mobile-web-app-title" content="Molla">
  <meta name="application-name" content="Molla">
  <meta name="msapplication-TileColor" content="#cc9966">
  <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
 
  
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <div class="page-wrapper">


    <main class="main">


      <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
        style="background-image: url()">
        <div class="container">
          <div class="form-box">
            <div class="form-tab">
              <ul class="nav nav-pills nav-fill" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab"
                    aria-controls="register-2" aria-selected="true">Admin Login</a>
                </li>
              </ul>
              <div class="tab-content">

                <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                  <form action="/admin" method="post">
                    <div class="form-group">
                      <label for="register-email-2">Your email address *</label>
                      <input type="email" class="form-control" id="register-email-2" name="email" value="neethusa80@gmail.com">
                    </div>

                    <div class="form-group">
                      <label for="register-password-2">Password *</label>
                      <input type="password" class="form-control" id="register-password-2" name="password" value="admin123">
                    </div>

                    <div class="form-footer">
                      <button type="submit" class="btn btn-outline-primary-2">
                        <span>LOGIN</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>


                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>

 
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/jquery.hoverIntent.min.js"></script>
  <script src="/assets/js/jquery.waypoints.min.js"></script>
  

  <script src="/assets/js/main.js"></script>
</body>



</html>